$primary-normal: #4d086d;
$primary-dark: #3a0e4e;
$primary-light: #9626ca;

$secondary-normal:#480866;
$secondary-dark: #320447;
$secondary-light: #930ed1;

$black-normal: #232224;
$black-dark: #000000;
$black-light: #353436;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$purple-normal: #4d086d;
$purple-dark: #3a0e4e;
$purple-light: #9626ca;